@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
  color: #111;
}

section {
  padding: 100px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/images/background.jpg);
  background-size: cover;
}

.home .content {
  max-width: 900px;
  text-align: center;
}

.home .content h2 {
  font-size: 4.9em;
  color: #fff;
  text-shadow: 5px 5px 5px black;
}

.home .content p {
  font-size: 1.1em;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

.home .content .btn {
  font-size: 1em;
  color: #fff;
  background: #8cce8c;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home .content .btn:hover {
  letter-spacing: 6px;
}

header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  padding: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header .logo span {
  color: #8cce8c;
}

header .navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation li {
  list-style-type: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

header .navigation li a:hover {
  color: #8cce8c;
}

header .toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

header .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #8cce8c;
  border-radius: 10px;
}

header.sticky {
  background: #fff;
  padding: 10px 100px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .logo {
  color: #111;
}

header.sticky .navigation li a {
  color: #111;
}

.section2 {
  height: 100vh;
}

@media screen and (max-width: 700px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navigation {
    display: none;
    width: 100%;
  }
  header .navigation li {
    text-align: center;
  }
  header .navigation li a:hover {
    color: #8cce8c;
  }
  header .navigation.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .home .content {
    padding-top: 50px;
  }
  .home .content h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 500px) {
  header .logo {
    font-size: 1.2em;
  }
  header .toggle-button {
    top: 1rem;
    height: 17px;
  }
  .home {
    padding: 100px 50px;
  }
  .home .content h2 {
    font-size: 2rem;
  }
  .home .content p {
    font-size: 1rem;
  }
  .home .content .btn {
    font-size: 0.8rem;
    padding: 10px 10px;
  }
  .home .content .btn:hover {
    letter-spacing: 3px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about img {
  width: 1000px;
  height: 320px;
  -webkit-box-shadow: 5px 10px 10px;
          box-shadow: 5px 10px 10px;
}

.about .about-us {
  width: 96%;
}

.about .about-us p {
  padding-right: 30px;
  text-indent: 15px;
}

.about .about-us .title-text {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.about .about-us span {
  color: #8cce8c;
  font-weight: 700;
  font-size: 1.5em;
}

@media screen and (max-width: 700px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
    margin-top: 30px;
  }
  .about img {
    width: 300px;
    height: 170px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .about .about-us p {
    padding-right: 0px;
    text-indent: 0;
  }
}

.services .services-motto {
  text-align: center;
}

.services .services-motto .title-text {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.services .services-motto span {
  color: #8cce8c;
  font-weight: 700;
  font-size: 1.5em;
}

.services .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .cards .card {
  width: 340px;
  margin: 20px;
  -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.08);
  border: 5px solid #afabab;
}

.services .cards .card .imgCard {
  position: relative;
  width: 100%;
  height: 200px;
}

.services .cards .card .imgCard img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.services .cards .card .text {
  text-align: center;
}

.services .cards .card .text h3 {
  font-weight: 400;
  color: #111;
}

@media screen and (max-width: 500px) {
  .services {
    padding: 35px;
    margin-bottom: 40px;
  }
}

.team {
  margin-top: -100px;
}

.team .team-motto {
  text-align: center;
}

.team .team-motto .title-text {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.team .team-motto span {
  color: #8cce8c;
  font-weight: 700;
  font-size: 1.5em;
}

.team .team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .team-cards .team-card {
  width: 340px;
  margin: 20px;
  -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.08);
}

.team .team-cards .team-card .imgTeam {
  position: relative;
  width: 100%;
  height: 350px;
}

.team .team-cards .team-card .imgTeam img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.team .team-cards .team-card .text {
  text-align: center;
}

.team .team-cards .team-card .text h3 {
  font-weight: 700;
  color: #111;
}

@media screen and (max-width: 700px) {
  .team .team-cards .team-card .imgTeam {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .team {
    padding: 35px;
    margin-bottom: 20px;
  }
}

.contact {
  margin-top: -100px;
}

.contact .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-motto {
  text-align: center;
}

.contact .contact-motto .title-text {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.contact .contact-motto span {
  color: #8cce8c;
  font-weight: 700;
  font-size: 1.5em;
}

.contact .contactForm {
  padding: 25px 50px;
  background: #fff;
  -webkit-box-shadow: 0 15px 30px #8cce8c;
          box-shadow: 0 15px 30px #8cce8c;
  max-width: 500px;
  margin-top: 50px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.contact .contactForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contact .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact .contactForm .inputBox input, .contact .contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
  border-radius: 10px;
}

.contact .contactForm .inputBox input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background: #8cce8c;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

.contact .contactForm .inputBox input[type="submit"]:hover {
  letter-spacing: 6px;
}

@media screen and (max-width: 700px) {
  .contactForm h3 {
    text-align: center;
  }
  .contactForm .inputBox {
    text-align: center;
  }
  .contact .forms img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .contact {
    padding: 50px;
  }
}

footer {
  margin-top: -30px;
  max-width: 100%;
  height: 100%;
  background-color: #f1eeee;
  padding: 10px 30px;
}

footer .footer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-details .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-details .column h3, footer .footer-details .column p {
  color: rgba(97, 163, 97, 0.9);
}

footer .footer-details .column .inline img {
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .footer-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-details .column {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=juniorsteam.css.map */